body {
  background-image: url("./assets/background-image.jpeg");
  background-size: cover;

}

/* Changes the font color/size/location of the header */
h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

/* Centers all items in classname: form */
.form {
  text-align: center;
}

/* Changes the color/size/and location of input classname */
.input {
  color: white;
  font-size: 35px;
  width: 50%;
  margin: 0 auto;
  padding: 6px 12px;
  display: block;
}

#input-field {
  font-size: 18px;
}

#button {
  background-color: #0dcaf0;
  color: white;
  padding: 10px;
  margin: 20px;
  width: 100px;
}